@import "tailwindcss";

@theme {
  --color-background: #0f0f0f;
  --color-foreground: #ededed;

  --color-primary: #2c75ff;
  /* Violet-500 equivalent */
  --color-primary-dark: #185ad7;
  /* Violet-600 */
  --color-secondary: #1f1f1f;
  --color-secondary-foreground: #a1a1aa;
  /* Zinc-400 */

  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display), system-ui, sans-serif;
}

/* Base styles */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  overflow-x: hidden;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}